/* .main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

*/


/* .skin-blue .main-sidebar {
   background-color: #f4b943;
   font-family: "Calibri";
   font-size:25px;             
   line-height:1.42857143;
   color:#ebebeb;
   }
*/



.main-header .navbar-custom-menu{ 
  float: right;
  width: 97%;
}


.navbar-nav{
  float: left;
  margin: 0;
  width: 100%;
}

.main-header {
  position: fixed;
  width:100%;
  color: red;
}

.content {
  padding-top: 60px;
}


.main-sidebar{ 
  position: fixed;
}


div.busy { 
  position:fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
  border-radius: 5px;
  z-index: 10;
}


.shiny-output-error-valErrorMsgClass{
  color:  red; /*#24a531;*/
  font-size: 15px;
}

.shiny-output-error-valErrorMsgClass_2{
  color:  #e67e22 ; /* #24a531;*/
  font-size: 15px;
}


