/* .main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

*/


/* .skin-blue .main-sidebar {
   background-color: #f4b943;
   font-family: "Calibri";
   font-size:25px;             
   line-height:1.42857143;
   color:#ebebeb;
   }
*/

